<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- <add name="TwinkleDbConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=FredroDB;Integrated Security=True;" providerName="System.Data.SqlClient"/> -->
     <add name="TwinkleDbConnection" connectionString="data source=EF-01121994\SQLEXPRESS;Initial Catalog=FredroRourkeDB;Integrated Security=True;" providerName="System.Data.SqlClient"/> 
     <!--  <add name="TwinkleDbConnection" connectionString="data source=DESKTOP-S2DIVDK\SQLEXPRESS;Initial Catalog=fredo;Integrated Security=True;" providerName="System.Data.SqlClient"/>  -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ISchedulerService" closeTimeout="12:00:00"
          openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="NetTcpBinding_IBusinessObjectService" closeTimeout="12:00:00"
          openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="NetTcpBinding_IMailboxService" closeTimeout="12:00:00"
          openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:47868/BusinessObjectService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBusinessObjectService"
        contract="BusinessObjectService.IBusinessObjectService" name="NetTcpBinding_IBusinessObjectService">
        <identity>
          <userPrincipalName value="E.Fedoruk@BrainSystems.llc" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:47878/SchedulerService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISchedulerService"
        contract="SchedulerService.ISchedulerService" name="NetTcpBinding_ISchedulerService">
        <identity>
          <userPrincipalName value="E.Fedoruk@BrainSystems.llc" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:47888/MailService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMailboxService" contract="MailboxService.IMailboxService"
        name="NetTcpBinding_IMailboxService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA2ZOu7advrvy5vnnioUCGY3sPQzsgAAAAAQAAAAcCAAAwggIDMIIBcKADAgECAhA8/lxffPWstEPxEIbka5isMAkGBSsOAwIdBQAwGzEZMBcGA1UEAxMQRnJlZHJvVHdpbmtsQ2VydDAeFw0xODEyMzEyMTAwMDBaFw0xOTEyMzEyMTAwMDBaMBsxGTAXBgNVBAMTEEZyZWRyb1R3aW5rbENlcnQwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAK59D44s2Se5biLu5Pv2q/fOOh20cpHoNSM3pB4oZMXJr2quz6jaevTmBwVi9rqJEr4sgcqc2eFiTmSm2pfDZFaWTgT+sSK7ENDB7mY3rcF6Nm/ESdCELsMJAJxJIDFOa34KkVIx5tZCgzoZpsDRYbLT1WO+YIZRL86I6dPgV6cBAgMBAAGjUDBOMEwGA1UdAQRFMEOAEHj9lPRZQzHPhxbqJjAQ/c2hHTAbMRkwFwYDVQQDExBGcmVkcm9Ud2lua2xDZXJ0ghA8/lxffPWstEPxEIbka5isMAkGBSsOAwIdBQADgYEAKWTBFrRUlVTTk8XXRhQif0SUDmaU95U5mTZpom89f61pLGH06YDu71i8PPJF+w/VI3XGkN8+pm3KusJeHAZOiefKQ/v+nOhTzGcqaNVyGm94VAgYFPEdZZ03+FMjrSJC0+hbbzq5XnQm1WLESNuic3geUq5z6Iep95iJOgzZVGs=" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>