<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="FredroDbConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=FredroDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!-- <add name="FredroDbConnection" connectionString="data source=EF-01121994\SQLEXPRESS;Initial Catalog=FredroDB;Integrated Security=True;" providerName="System.Data.SqlClient"/> -->
     <!--  <add name="FredroDbConnection" connectionString="data source=DESKTOP-S2DIVDK\SQLEXPRESS;Initial Catalog=fredo;Integrated Security=True;" providerName="System.Data.SqlClient"/>  -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMailService">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:47888/MailService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMailService" contract="MailService.IMailService"
        name="NetTcpBinding_IMailService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAANhYmfDjisdFaJvwWhxq4W/01VhcgAAAAAQAAAD4CAAAwggI6MIIB6KADAgECAhBNtRNyhGZkgUUR67Gp1Xw9MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTkwMTI4MTQyNzM3WhcNMzkxMjMxMjM1OTU5WjAZMRcwFQYDVQQDEw5GcmVkcm9UZXN0Q2VydDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALa0fJD2nddxvpj3TZ5nzAHCf0/b1lgOOffM27s3k3qufhF7qKYAUQhgAvuFMolpAWmUT4DgnTKwinSPItFk6VU9LpMHzwEdXuVclS3vLp9km9F95dfg6frr+B32AAh4blVZqF9PdaJRXiVOOnBz6RpaXnLkZLmBiy7kgtmecuV74BJYFN38ILDGi4xJ1BNQuQx3L0VFjAN+lbc4AbcKrkAHdiiSf7Em4uZ+JI/hMbnmhShSXUe/RRcQNCSXb8J4oj6J3G9mpPHS8dEZSnX5zhMI5InreRUUxdU7smSgKApVQm9j3GTtljgP14zWx3J3xD+IOb7inMr2dMsUWEJP9c0CAwEAAaNLMEkwRwYDVR0BBEAwPoAQEuQJLQYdHU8AjWEh3BZkY6EYMBYxFDASBgNVBAMTC1Jvb3QgQWdlbmN5ghAGN2wAqgBkihHPuNSqXDX0MAkGBSsOAwIdBQADQQAuv0NolEckX+BE08m5z4xyIqCo0B+vTJZBUSdd/blo2GjWetbywvKyseR92R1mA3SLLX9Z7BjN1Vbv3U5uty/D" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>